/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;  
}
  
body{
    font-family: Verdana,  Tahoma, sans-serif;
}
button{
   border-radius:50px ;
   
   padding: 10px;
   height: 50px;
}
.sub-container{
    max-width: 1200px;
    
}





/* utilitis */
.row{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.colonna{
    height: 50px;
    width: 60px;
    background-color: red;
}
.colonna-two{
    height: 50px;
    width: 400px;
    background-color: red;
   
}
li{
    list-style-type: none;
    margin-left: 5px;
}
 h1 {
     text-align: center;
     padding-top: 80px;
     padding-bottom: 40px;
 }
 h3{
     color: white;
 }
 p{
     
     max-width: 700px;
     margin:  0 auto;
     
 }
 .row-botton{
    display: flex;
    justify-content:center;
    padding-top: 10px;
 }
 .b-jambotron{
     margin-right: 20px;
 }
 img{
     height: 180px;
     width: 300px;
    
 }
 .p-article{
     text-align: center;
 }
 .img-big{
    height: 410px;
    width: 660px;
   
 }
 .img-small{
    height: 25px;
    width: 30px;
 }



/* header */
header{
    
    background-image: url(../img/jumbo.png);
    background-size: cover                                                                                                                                                                                                                                                                                                                                                                       ;
    
}
.d-flex{
    display: flex;
}

   

.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    padding-top: 50px;
     
}
.riga{
    height: 60px;
    width: 600px;
    
    margin-bottom: 15px;
    
}


/* main  */
.row-article{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}


.first-article{
        height: 400px;
     background-color:white;
        margin-bottom: 10px;
        
       
}
.colonna-article-first{
    height:300px;
    width: 300px;
    
    background-size: auto;
}
.colonna-article{
    height:300px;
    width: 150px;
    margin-left: 50px;
}
.second-article{
    height: 400px;
    background-color: #F6F6F6;
    margin-bottom: 10px;
} 
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.reverse-article{
    height:300px;
    width: 300px;
    
    margin-left: 20px;
}

.third-article{
    height: 400px;
    background-color: white;
    margin-bottom: 10px;
}
.fourth-article{
    min-height:600px;
    background-color: #f6f6f6;;
    margin-bottom: 10px;
} 
.riga-img{
    height: 300px;
    background-color: black;
}
footer{
    background-color: #23272A;
    height: 400px;
    color: white;
}
footer .footer-top{
    display: flex;
    padding-bottom:30px;
    border-bottom: 1px solid #8EA1E1;
}
.footer-top .motto{
    flex-basis: 30%;
}

footer .footer-bottom{
    display: flex;
    justify-content: space-between;
}